.section_1{
    margin: 30px 500px 10px 10px;
}
.division_1, .div_1, .div_2{
    border: 1px solid;;
}
.div_1{
    padding-bottom: 15px;
    margin-bottom: 10px;
}
.division_2{
    display: flex;
    height: 300px;
    grid-gap: 100px;
    margin: 30px 500px 85px 10px;;
}
#tableau{
    width: 225px;
    margin: 10px 30px 5px 30px;
    height: 20px;
    padding-top: 20px;
}
#valider{
justify-content: center;
}
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.header{
    display: flex;
    grid-gap: 90px;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 10px;
}
span{
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
    padding-inline: 20px;
}
h3{
    padding-top: 0px;
    padding-bottom: 10px;
    text-align: center;
}
p{
    padding: 10px;
    padding-right: 10px;
    text-align: center;
}
.entete_table{
    display: flex;
    grid-gap: 265px;
    justify-content: center;
    padding-left: 22px;
    padding-right: 20px;
    padding: 20px;
}

/*button{
    margin: 15px; 
    background-color: rgb(152, 203, 187); 
    border: 1px solid; border-radius: 5px;
    margin-right: 10px;
    margin-left: 15px;
    cursor: alias;
}*/
table{
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 10px;
    margin-left: 100px;
    justify-content: center;
    text-align: left;
    width : 500px; /* Largeur du tableau */
    margin-left : auto;
    margin-right : auto;
}
tr td, tr{
    border: 1px solid black;
    padding: 5px;
    width: 120px;
    text-align: left;

    
    /*tr{
    padding: 35px;
    }*/

}
