.section_1{
    margin: 30px 500px 10px 10px;
}
.division_1, .div_1, .div_2{
    border: 1px solid;;
}
.div_1{
    padding-bottom: 15px;
    margin-bottom: 10px;
}
.division_2{
    display: flex;
    height: 300px;
    grid-gap: 100px;
    margin: 30px 500px 85px 10px;;
}
#tableau{
    width: 255px;
    margin: 10px 30px 5px 30px;
    height: 20px;
    padding-top: 20px;
}
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.header{
    display: flex;
    grid-gap: 120px;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 10px;
    
}
span{
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
    padding-inline: 20px;
}
h3{
    padding: 0px 30px 10px 0px;
    text-align: center;
    
}
h6{
    padding: 5px 0px 10px 0;
    text-align: center;
}
.formule{
    padding-right: 50px;
}
.entete_table{
    display: flex;
    grid-gap: 385px;
    justify-content: center;
    padding: 20px 5px 0px 5px;
    
}

.btn_tete{
    border: 1px solid rgb(241, 86, 86);
    background-color: rgb(247, 203, 203);
    justify-content: center;
    border-radius: 8px; font-size: 12px;
    width: 115px;
    height: 30px;
    margin-top: 15px;
    margin-left: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn_pied{
    border-radius: 8px;
    color: rgb(14, 13, 13);
    font-size: 15px;
    width: 100px;
    height: 30px; margin-top:60px;
    margin-left: 153px; 
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 10px;
    margin-left: 100px;
    justify-content: center;
    text-align: left;
    width : 610px; /* Largeur du tableau */
    margin-right : auto;
}
tr td, tr{
    border: 1px solid black;
    padding: 5px;
    width: 120px;
    text-align: left;
}
